<button id="viewBtn" *ngIf=simpleView else secondViewBtn (click)="changeView()">תצוגה מורחבת</button>
<button *ngIf=!simpleView (click)="changeView()">תצוגה מצומצמת</button>

<div id='myDiagramDiv'>
  
</div>

<app-inspector [selectedNode]='selectedNode' [model]='model' [diagram]='diagram'></app-inspector>
