<div *ngIf="showFilters" class="filterBox">
    <label *ngFor="let data of Data; index as i">
      <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
      {{data.name}}
      <br>
    </label>
    <label>
      מהתאריך
    </label>
    <input [(ngModel)]="filterDate" type="date" id="birthday" name="birthday">

  <button type="button" (click) = "displayTree()">
    סנן
  </button>
<button type="button" (click) = "showFilters=!showFilters; filterDate=null">
    בטל
</button>

</div>
<div *ngIf="filterMsg!=null" class="filterMsgBox">
<label>
  {{this.filterMsg}}
</label>
<br>
<button type="button" (click) = "showFilters=!showFilters; filterMsg=null; filterDate=null">
  סנן שוב
  </button>
  <button type="button" (click) = "displayTree()">
    בטל סינון
    </button>
  </div>

<button class="settingsBtn" type="button" (click)= "displaySettings = !displaySettings;" >אפשרויות נוספות</button>
<div class="settingBox" *ngIf="displaySettings">
  <button type="button" *ngIf="!selectedNode" (click)= "shouldAdd = !shouldAdd; displaySettings = !displaySettings" >  הוסף</button>
  <button *ngIf="!selectedNode"type="button" (click)= "showFilters = !showFilters" >  סנן מחלקה</button>
  <button *ngIf="selectedNode" type="button" (click)= "showUpdate = !showUpdate; displaySettings = !displaySettings" >  ערוך תפקיד</button>
  <button *ngIf="selectedNode" type="button" (click)="onDelete()" >מחק</button>
</div>

<ul style="position:relative;">
  <li [ngClass]="{'active': this.Tree==division}" class="w3-bar-item w3-button" *ngFor="let division of allDivisions" (click) = "displayTree(division)">
    {{division}}
</li>
<li style="color:cornflowerblue;" (click) = "addTree()">
  הוסף מחלקה
</li>

<li style="color:cornflowerblue;" (click) = "deleteTree()">
  מחק מחלקה
</li>
  </ul>


<form *ngIf="showUpdate" (ngSubmit)="onCommitForm()">
  <div class="box">
    <button class="closeBtn" type="button" (click) = "showUpdate = !showUpdate; this.formerSoldier = null"> X </button>
    <span class="text-center">ערוך תפקיד</span>
    <div class="input-container">		
    <input
      class="form-control"
      type="text"
      name="updateNewCommander"
      [(ngModel)]="data.parent"
      (input) = "commanderSearchTable()"
      (focusout) = "commanderFocus()"
      (focusin) = "commanderFocus()"  
      autocomplete="off"
      placeholder="&#61442;  חפש מפקד"
    />
    <label>מפקד: </label>
    </div>
  <div *ngIf="(divisionSoldiers | filter:data.parent).length > 0 && show.commanders" >
    <table>
      <thead>
        <tr>
            <th>דרגה</th>
            <th>מספר אישי</th>
            <th>שם</th>
            <th>תפקיד</th>
        </tr>
      </thead>
      <tbody>
        <tr class="suggested" *ngFor="let commander of divisionSoldiers | filter: data.parent" (mousedown) = "commanderChoice(commander)">
          <td>{{ commander.rank }}</td>
          <td>{{ commander.id }}</td>
          <td>{{ commander.name }}</td>
          <td>{{ commander.role }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="(divisionSoldiers | filter:data.parent).length == 0 && data.parent!=null && data.parent!=''"> <a style="color: brown;"> מצטערים, לא נמצאו מפקדים המתאימים לחיפוש</a></div>





  <div class="input-container" >
    <a> החייל המוצב בתפקיד</a>
    <input
      class="form-control"
      type="text"
      name="updateNewSoldier"
      [(ngModel)]="data.name"
      (input) = "soldierSearchTable()"
      (focusout) = "soldierFocus()"
      (focusin) = "soldierFocus()"
      autocomplete="off"

      placeholder="&#61442;  חפש חייל אחר אשר יוצב בתפקיד"
    />
    <label> החייל</label>
  </div>
  <div *ngIf="(baseSoldiers | filter:data.name).length>0 && show.soldiers">
    <table>
      <thead>
        <tr>
          <th>דרגה</th>
          <th>מספר אישי</th>
          <th>שם</th>
        </tr>
      </thead>
      <tbody>
        <tr class="suggested" *ngFor="let soldier of baseSoldiers | filter: data.name" (mousedown) = "soldierChoice(soldier)">
          <td>{{ soldier.rank }}</td>
          <td>{{ soldier.id }}</td>
          <td>{{ soldier.name }}</td>
        </tr>
      </tbody>
    </table>
</div>
<div *ngIf="(baseSoldiers | filter:data.name).length == 0 && data.name!=null && data.name!=''"> <a style="color: brown;"> מצטערים, לא נמצאו חיילי בסיס המתאימים לחיפוש</a></div>

<div class="input-container"> 
  <input name="title" [(ngModel)]="data.title" />
  <label> תפקיד: </label>
  <button name = "commit" type="submit">בצע!</button>
</div>

</div>
</form>











<form *ngIf="shouldAdd" (ngSubmit)="onAddForm()">
  <div class="box">
    <button class="closeBtn" type="button" (click) = "shouldAdd = !shouldAdd"> X </button>

    <span class="text-center">הוסף תפקיד</span>
    <div class="input-container">		
      <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="data.name"
      (input) = "soldierSearchTable()"
      (focusout) = "soldierFocus()"
      (focusin) = "soldierFocus()"
      autocomplete="off"
      placeholder="&#61442;  חפש חייל לפי שם או מספר אישי"
      />  
      <label>חפש חייל</label>		
	</div>

  <div *ngIf="show.soldiers && (baseSoldiers | filter:data.name).length != 0">
    <table>
      <thead>
        <tr>
          <th style="text-align: center;">דרגה</th>
          <th style="text-align: center;">מספר אישי</th>
          <th style="text-align: center;">שם</th>
        </tr>
      </thead>
      <tbody>
        <tr class="suggested" *ngFor="let soldier of baseSoldiers | filter: data.name" (mousedown) ="soldierChoice(soldier)">
          <td>{{ soldier.rank }}</td>
          <td>{{ soldier.id }}</td>
          <td>{{ soldier.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

<div *ngIf="(baseSoldiers | filter:data.name).length == 0 && show.soldiers && data.name!= null && data.name!='' "> <a style="color: brown;"> מצטערים, לא נמצאו חיילי בסיס המתאימים לחיפוש</a></div>


<div>
  <div class="input-container">		
  <input
    type="text"
    name="searchCommander"
    [(ngModel)]="data.parent"
    (input) = "commanderSearchTable()"
    (focusout) = "commanderFocus()"
    (focusin) = "commanderFocus()"
    autocomplete="off"
    placeholder="&#61442;  הקלד שם או מספר של מפקד בפלגה"
  />
  <label>חפש מפקד</label>		
  </div>
</div>
<div *ngIf="show.commanders && (divisionSoldiers | filter:data.parent).length != 0 ">
  <table>
    <thead>
      <tr>
          <th>דרגה</th>
          <th>מספר אישי</th>
          <th>שם</th>
          <th>תפקיד</th>
      </tr>
    </thead>
    <tbody>
      <tr class="suggested" *ngFor="let commander of divisionSoldiers | filter: data.parent" (mousedown) = "commanderChoice(commander)">
        <td>{{ commander.rank }}</td>
        <td>{{ commander.id }}</td>
        <td>{{ commander.name }}</td>
        <td>{{ commander.role }}</td>

      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="(divisionSoldiers | filter:data.parent).length == 0 && show.commanders && data.parent!=null && data.parent!=''"> <a style="color: brown;"> מצטערים, לא נמצאו מפקדים המתאימים לחיפוש</a></div>

<div class="input-container">		
<input name="title" placeholder="הזן תפקיד" [(ngModel)]="data.title" required="true" >
<label>הזן תפקיד</label>
<button class="btn" type="submit"> הוסף</button>
</div>

</div>
</form>
