* {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 10px;
  width: fit-content;
}

form {
  background: lightgray;
  border: 1px solid black;
}

input {
  clear: both;
  display: inherit;
  float: initial;
  font-weight: 300;
  border-radius: 10px;
  background: white;
}

input:focus {
  border-radius: 10px;
  outline: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color: #111;
  }
  .active {
	background-color: #04AA6D;
  }
  
  li.active
  {
    color:red;
  }

  .suggested{
    text-decoration: #04AA6D;
    direction: rtl;
    z-index: 2;
  }

 .suggested:hover{
    cursor: pointer;
    background-color: rgba(61, 46, 145,0.7);
  }

  label{
    direction: ltr;
  }


  table {
    display: block;
    height: 200px;
    width: min-content;
    overflow-y: auto;
    border-collapse:separate;
    border:solid rgb(161, 49, 49) 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    color: lightblue;
    border-bottom:solid black 1px;
}

th {
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}


.tableDiv{
    width: fit-content; 
    /* To adjust the height as well */ 
    height: fit-content;
    }


    .multiselect {
      width: 200px;
    }
    
    .selectBox {
      position: relative;
    }
    
    .selectBox select {
      width: 100%;
      font-weight: bold;
    }
    
    .overSelect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    


  
.text-center{
	color:#ddd;	
	text-transform:uppercase;
    font-size: 25px;
    margin: -50px 0 10px 0;
    display: block;
    text-align: center;
    
}
.closeBtn {
  border-radius:10px;
  background-color: DodgerBlue;
  line-height: 12px;
  width: 18px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0px;
  left:0px;
  z-index: 99;
}
.closeBtn:hover{
  background-color: RoyalBlue;
  cursor:pointer;
}

.settingsBtn{
  position:absolute;
	right:50px;
	top:2.5%;
  z-index: 2;
}
.filterBox{
  position:absolute;
	left:45%;
	top:200px;
  z-index: 2;
	transform: translate(-50%,-50%);
  background-color: rgba(138, 115, 115, 0.89);
	border-radius:20px;
	padding:10px 25px;

}
.filterMsgBox{
  position:absolute;
	left:45%;
	top:70px;
  z-index: 2;
	transform: translate(-50%,-50%);
  background-color: rgba(179, 110, 110, 0.89);
	border-radius:20px;
	padding:5px 12px;

}
.settingBox{
  position:absolute;
	right:-6.3%;
	top:11.5%;
  z-index: 2;
	transform: translate(-50%,-50%);
  background-color: rgba(238, 225, 225, 0.89);
	border-radius:20px;
	padding:10px 25px;

}
.box{
	position:absolute;
  max-height: 69%;
	left:50%;
	top:50%;
  z-index: 2;
	transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.89);
	border-radius:20px;
	padding:70px 100px;
}
.input-container{
	position:relative;
}
.input-container label{
	position:absolute;
	top:-5px;
	left:0px;
	font-size:16px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  direction: rtl;
  width: fit-content;
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}
